/* Footer.css */
.footer {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 1.5rem 0;
  margin-top: auto;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-icon {
  color: #505050; /* text-gray-500 */
  transition: color 0.3s;
  font-size: 0.7rem;
}

.social-icon:hover {
  color: #5f5f5f; /* text-gray-700 */
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  /* color: #505050; */
}

.footer-link {
  color: #505050; /* text-gray-700 */
  transition: color 0.3s;
}

.footer-link a {
  text-decoration: none;
}

.footer-link:hover {
  color: #5f5f5f; /* text-gray-900 */
}

.footer-copy {
  color: #5f5f5f; /* text-gray-500 */
}
